/* body {
    font-family: 'Roboto', sans-serif  ;
}


p {
    color: rgb(25, 0, 255);
    font-size: 24px;
}

h {
    color: purple;
    font-size: 40px;
}

a {
    color: black;
    font-size: 38px;
}

.quoted-text { 
    font-style: italic;
    font-size: 18px;
    color: grey;
}

.slogan {
    font-size: 25px;
    color: purple;
    font-weight: bold;
    display: block;
}
.navigation {
    list-style: none;

}
.navigation li {
    display: inline;
}

.navigation a {
     text-decoration: none;
     color: white;
     font-size: 20px;
     display: inline-block;
     background-color: lightgray;
     padding:  5px 10px;
     margin: 6px;
     border-radius: 5px;
     border: 1px solid lightgray;
     
}

.navigation a:hover {
    background-color: transparent;
    color: gray;
    transform: scale(1.3);
} */
