body {
    font-family: 'Roboto', sans-serif  ;
}

.content {
    width: 1170;
    margin: auto;
}
header {
    background-color: #19283F;
}

.navigation {
    list-style: none;
}

.navigation li {
    display: inline;
}
.navigation а {
    color: #a8b9c0;
}

.navigation a:hover {
    color: #00c7c0;
    text-decoration: none;
}